/* You can add global styles to this file, and also import other style files */
body, html {
  padding: 0;
  margin: 0;
}

.btn {
  border-radius: 0px;
}

.btn-nav {
  position: absolute;
  right: 40px;
  top: 12%;
}

.btn-primary {
  background-color: #009e99;
  border-color: #009e99;
}

.brd-w {
  border: 1px solid #fff;
}

.brd-b {
  border: 1px solid #009e99;
}

.both-side {
  width: 100%;
  height: 80%;
}

.bg-dark {
  background: linear-gradient(to right, #f07bbb, #73c2bf) !important;
  ul {
    margin-top: 15px;
    li {
      &.active {
        border: 1px solid gray;
      }
      a {
        color: #000;
      }
    }
  }
}

.clr-txt {
  color: #009e99;
}

.dot-after {
  border-radius: 50%;
  display: inline-flex;
  height: 15px;
  position: relative;
  top: 5px;
  width: 15px;
}

.f-s2 {
  font-size: 1.7rem;
  position: relative;
}

.f-s3 {
  font-size: 1.5rem;
}

.f-s4 {
  font-size: 4rem;
}

.foot-underline, .works-head {
  display: inline-flex;
  width: 130px;
  padding: 2px;
  &:after {
    content: "";
    border-bottom: 2px dotted #fff;
    flex: 1;
  }
}

hr {
  border-top: 2px solid #fff;
}

.head-2, .support-head {
  display: inline-flex;
  width: 130px;
  padding: 2px;
  &:after {
    content: "";
    border-bottom: 2px dotted #009e99;
    flex: 1;
  }
}

.l-ht {
  line-height: 30px;
}

.m-top0 {
  margin-top: 15px;
}

.m-top1 {
  margin-top: 25px;
}

.m-top5 {
  margin-top: 5%;
}

.m-top10 {
  margin-top: 10%;
}

.m-top20 {
  margin-top: 20%;
}

.m-btm-5 {
  margin-bottom: 5%;
}

.m-btm10 {
  margin-bottom: 10%;
}

.m-lft-side {
  margin-left: -80px;
}

.m-right-side {
  position: relative;
  left: 12%;
}

.m-center-side {
  margin-left: -100px;
}

.m-lft-pos {
  margin-left: 20px;
}

.m-rgt-pos {
  margin-left: 20px;
}

.m-lftpx {
  position: relative;
  left: 10%;
}

.no-right-padding {
  padding-right: 0;
}

.no-left-padding {
  padding-left: 0;
}

.p-lft-rgt {
  padding-left: 80px;
  padding-right: 20px;
}

.padding-lr {
  padding: 5px 50px;
}

.padding-40 {
  padding: 40px 0px;
}

.paddingTop-80 {
  padding-top: 80px;
}

.padding-80 {
  padding: 80px;
}

.paddingTop-40 {
  padding: 40px 0px 0px;
}

.set-padding {
  padding: 80px 0px;
}

.section-1 {
  .form-control {
    padding: 3rem 4rem;
  }
  .input-group-append {
    margin-left: -25px;
  }
  .input-group-text {
    font-size: 1.8rem;
    color: #fff;
    background-color: #575757;
    border: 0px;
    padding: 1rem 5rem;
  }
  .input-group>.input-group-append>.input-group-text, .input-group>.form-control:not(:last-child) {
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
  }
  .input-group>.form-control:not(:last-child) {
    border-bottom-left-radius: 30px;
  }
}







