.navbar-dark .navbar-nav .active > .nav-link,
.navbar-dark .navbar-nav .nav-link {
  color: #fff;
}

.section-1 {
  .banner-img {
    background: url("../../assets/main-banner.jpg") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    display: table;
    height: 100vh;
    position: relative;
    width: 100%;
    padding-top: 50px;
  }
  .curve {
    position: absolute;
    bottom: 0;
    width: 100%;
    path {
      fill: #039e9a;
    }
  }
  .search-box {
    position: absolute;
    bottom: 0;
    z-index: 2;
    left: 5vw;
  }
}

.section-2 {
  .text-title {
    font-size: 2rem;
  }
  .singleimages-border {
    position: relative;
    &:before {
      border-top: 4px solid #f2a1cd;
      border-image: linear-gradient(to top, #bfe4e3, #f2a1cd) 1 40%;
      transform: rotate(-10deg);
      position: absolute;
      left: 10%;
      top: 40%;
      z-index: -1;
      content: "";
      height: 52%;
      width: 60%;
    }
    &:after {
      border-bottom: 4px solid #f07bbb;
      border-left: 4px solid #f07bbb;
      border-right: 4px solid #bfe4e3;
      border-image: linear-gradient(to top, #bfe4e3, #f2a1cd) 1 40%;
      transform: rotate(-10deg);
      position: absolute;
      left: 10%;
      top: 40%;
      content: "";
      height: 52%;
      width: 60%;
    }
    img {
      border-bottom: 1px solid #dcdada;
    }
    .person-title {
      position: absolute;
      top: 55%;
      left: 15%;
      transform: rotate(-10deg);
      p {
        background: linear-gradient(to top, #f07bbb, #73c2bf);
        padding: 8px 30px;
        text-align: left;
        color: #fff;
      }
    }
  }
  .flat-counter {
    margin: 50px 0px;
    .icon-counter {
      width: 55px;
      height: 55px;
      float: left;
      text-align: center;
      line-height: 55px;
      position: relative;
      background: linear-gradient(to top, #f07bbb, #73c2bf);
      border-radius: 50%;
      .icon-sz {
        font-size: 20px;
        color: #fff;
      }
    }
    .content-counter {
      padding-left: 80px;
      .content-title {
        color: #f07bbb;
        background: linear-gradient(to top, #f07bbb, #73c2bf);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 20px;
        font-weight: 500;
      }
    }
  }
}

.section-3 {
  .banner-info {
    color: #fff;
    background: url(../../assets/wheel1.jpg);
    background-position: center;
    background-size: cover;
    display: table;
    height: 60vh;
    position: relative;
    width: 100%;
    padding-top: 50px;
    .side-content {
      padding: 40px 0px;
      .space-below {
        button {
          margin-top: 30px;
        }
      }
    }
  }
}

.section-4 {
  padding: 130px 0 90px;
  &.flat-row {
    clear: both;
    display: block;
    position: relative;
    padding: 100px 0;
  }
  .flat-text {
    display: flex;
    background: #519b98;
    position: relative;
    &:after {
      position: absolute;
      top: 0;
      left: 28%;
      width: 1px;
      height: 100%;
      background-color: #fff;
      content: "";
    }
    .icon-wrap {
      margin: auto;
      .mbr-iconfont {
        font-size: 4.5rem !important;
        margin: 1rem;
        padding-right: 1rem;
      }
    }
    .aside-content {
      padding: 5px 50px;
      margin-left: 100px;
      &.vcenter {
        margin: auto;
      }
    }
  }
  .banner4 {
    background: url(../../assets/care1.jpg);
    background-position: center;
    background-size: cover;
    display: table;
    height: 100vh;
    position: relative;
    width: 100%;
    z-index: -1;
    color: #fff;
    p {
      color: #cecece;
    }
    .btn-outline-secondary {
      color: #fff;
      border-color: #fff;
    }
  }
  .flat-divider {
    width: 100%;
    position: relative;
    &.d6px {
      height: 6px;
    }
  }
  .care-about {
    background: #009e99;
    padding: 25px;
  }
  .care-choose {
    background: linear-gradient(to top, #e6264d, #009e99);
    border-radius: 10px;
    padding: 20px;
    margin: auto 130px;
    position: relative;
    bottom: 135px;
    .choose-title {
      margin: auto 0;
      display: flex;
      align-items: center;
      justify-content: space-between;
      i {
        font-size: 1.35rem;
      }
    }
    .inner-bg {
      background: linear-gradient(to left, #e7cb80, #fcf8ed, #e7cb80);
      color: #5f5e5c;
      text-align: center;
      margin-bottom: 20px;
      i {
        font-size: 4rem;
        vertical-align: middle;
        padding: 5px 15px;
      }
    }
  }
  .care-border {
    position: relative;
    padding-left: 40px;
    &:before {
      border: 4px solid #b5b5b5;
      border-radius: 10px;
      position: absolute;
      left: 0;
      bottom: 100px;
      z-index: -1;
      content: "";
      height: 100%;
      width: 90%;
    }
  }
  .choose-border {
    position: relative;
    &:before {
      border: 4px solid #b5b5b5;
      border-radius: 10px;
      position: absolute;
      right: 0;
      top: -100px;
      z-index: -1;
      content: "";
      height: 80%;
      width: 100%;
    }
  }
}

.section-5 {
  background: #3d3d3d;
  color: #fff;
  .container {
    .work-section {
      background: #918f90;
      padding: 40px 10px 10px;
      margin-bottom: 20px;
      &:hover {
        background: #4c4c4c;
        .work-icon {
          i {
            border: 1px dashed #009e99;
            color: #009e99;
          }
        }
        .work-content {
          background: #009e99;
        }
      }
      .work-icon {
        margin: 25px;
        i {
          border: 1px dashed #fff;
          border-radius: 50%;
          padding: 20px 10px;
          font-size: 5rem;
        }
      }
      .work-content {
        background: #4c4c4c;
        padding: 30px;
        min-height: 220px;
        display: flex;
        align-items: center;
      }
    }
  }
}

.section-6 {
  .container {
    .support-section {
      border: 1px solid #009e99;
      text-align: center;
      padding: 15px;
      margin-bottom: 10px;
      i {
        color: #009e99;
      }
      .social-support {
        background: #959595;
        padding: 10px;
        color: #fff;
        margin: 30px 0px;
      }
    }
  }
}

.section-7 {
  .care-head {
    display: inline-flex;
    width: 90%;
    padding: 2px;
    &:after {
      content: "";
      border-bottom: 2px dotted #fff;
      flex: 1;
    }
  }
  .aside-content {
    overflow: hidden;
    background: #4c4c4c;
    color: #fff;
  }
}

.section-8 {
  .logo-section {
    padding-top: 55px;
    padding-bottom: 80px;
    text-align: center;
    position: relative;
    .logo-box {
      margin-bottom: 20px;
      padding-left: 10px;
      padding-right: 10px;
      max-width: 20%;
      flex: 20%;
      &:nth-child(5n + 1) {
        clear: both;
      }
      img {
        width: 100%;
        height: 35px;
      }
      .logo-img-block {
        border: 1px solid #f1f1f1;
        padding: 45px 10px;
        transition: all 1s ease 0s;
        transform: scale(1);
        -webkit-transform: scale(1);
      }
    }
  }
}

.section-9 {
  color: #b5b5b5;
  .footer {
    background: url(../../assets/footer-bg.png);
    background-position: center;
    background-size: cover;
    display: table;
    height: 80vh;
    position: relative;
    width: 100%;
    &:before {
      background-color: rgba(0, 0, 0, 0.6);
      border-top: 5px solid #009e99;
      content: "";
      display: inline-block;
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
    }
    h4 {
      font-size: 1.1rem;
      margin-bottom: 15px;
    }
    .one {
      h2 {
        padding: 50px 0px;
      }
      i {
        font-size: 2.5rem;
        vertical-align: middle;
        margin-left: 20px;
      }
      .btn-block {
        width: 80%;
      }
    }
    .footer-title {
      color: #fff;
      margin-bottom: 25px;
    }
    .list-menu {
      list-style: none;
      padding: 30px 0px;
      line-height: 25px;
    }
    .top-border {
      width: 80%;
      height: 1px;
      background: #b5b5b5;
      &:after {
        content: "";
        height: 10px;
        width: 10px;
        border-radius: 50%;
        float: right;
        background: #009e99;
        margin-top: -4px;
      }
    }
    .bottom-border {
      width: 80%;
      height: 1px;
      background: #b5b5b5;
      margin-left: 20%;
      &:before {
        content: "";
        height: 10px;
        width: 10px;
        border-radius: 50%;
        float: left;
        background: #009e99;
        margin-top: -4px;
      }
    }
    .support-text {
      text-transform: uppercase;
      text-align: center;
      padding: 32px 0px 20px;
    }
    .footer-social {
      ul {
        display: inline-block;
        padding-left: 0;
        li {
          display: inline-block;
          margin-right: 20px;
          i {
            background: #fff;
            padding: 10px 12px;
            border-radius: 50%;
            color: #000;
            font-size: 13px;
            margin-bottom: 20px;
          }
        }
      }
    }
  }
}

/* Media queries */

@media (min-width: 1281px) {
  //CSS
}

@media (min-width: 1025px) and (max-width: 1280px) {
  //CSS
}

@media (min-width: 768px) and (max-width: 1024px) {
  //CSS
}

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  //CSS
}

@media (min-width: 768px) {
  .bg-text,
  .main-work-title {
    span {
      font-size: 3rem;
    }
  }
  .footer-store {
    img {
      width: 100%;
      height: 90%;
    }
  }
  .section-4 {
    .bg-text {
      &:before {
        color: #000;
        font-family: "Lato", sans-serif;
        font-weight: 700;
        line-height: 80px;
        margin-bottom: 0;
        content: attr(data-text);
        opacity: 0.1;
        position: absolute;
        left: 5%;
        top: -50px;
        font-size: 15rem;
      }
    }
  }
}

@media (max-width: 767px) {
  .bg-text,
  .main-work-title {
    span {
      font-size: 2rem;
    }
  }
  .footer-store {
    img {
      width: 80%;
      height: 90%;
    }
  }
  .section-4 {
    .bg-text {
      &:before {
        color: #000;
        font-family: "Lato", sans-serif;
        font-weight: 700;
        line-height: 80px;
        margin-bottom: 0;
        content: attr(data-text);
        opacity: 0.1;
        position: absolute;
        left: 5%;
        top: -20px;
        font-size: 8rem;
      }
    }
  }
}

// @media (min-width: 481px) and (max-width: 767px) {

// }

// @media (min-width: 320px) and (max-width: 480px) {

// }
