<div id="wrapper">
  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container-fluid">
      <a class="navbar-brand" href="#"
        ><img src="assets/logo.jpg" width="150px" height="80px"
      /></a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarResponsive"
        aria-controls="navbarResponsive"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <button class="btn btn-primary btn-nav">Login</button>
      <div class="collapse navbar-collapse m-top1" id="navbarResponsive">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item"></li>
        </ul>
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="#"
              >About us <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item"><a class="nav-link" href="#">Pricing</a></li>
          <li class="nav-item"><a class="nav-link" href="#">Resources</a></li>
          <li class="nav-item"><a class="nav-link" href="#">Contact us</a></li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- SECTION 1 -->
  <section class="section-1">
    <div class="banner-img">
      <svg
        class="curve"
        data-name="Layer 1"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 1416.99 174.01"
      >
        <path
          class="cls-1"
          d="M0,280.8S283.66,59,608.94,163.56s437.93,150.57,808,10.34V309.54H0V280.8Z"
          transform="translate(0-135.53)"
        />
      </svg>
      <div class="container" class="search-box">
        <div class="input-group mb-3">
          <input
            type="text"
            class="form-control"
            placeholder="find age care or disability support worker by suburbs or postcode"
            aria-label="find age care or disability support worker by suburbs or postcode"
            aria-describedby="basic-addon2"
          />
          <div class="input-group-append">
            <span class="input-group-text" id="basic-addon2">SEARCH</span>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- SECTION 2 -->
  <section class="section-2">
    <div class="set-padding">
      <div class="container">
        <div class="text-title">
          Get started easily
          <div class="head-2"></div>
          <div class="dot-after brd-b"></div>
        </div>
        <h5 class="text-muted m-top1">
          It's an easy and safe online platform for people to connect with care
          and support in their local community.
        </h5>
        <div class="row padding-40">
          <div class="col-md-6">
            <div class="singleimages-border">
              <img src="assets/doctor3.png" height="450px" />
              <div class="person-title">
                <p>Iam Mithun</p>
                <p>A Doctor</p>
              </div>
            </div>
            <h3 class="m-top1 clr-txt">Care you Choose</h3>
            <p>
              Finding the right kind of care and support is easy with Mable.
              Search based on what matters most to you and your family.
            </p>
            <button type="button" class="btn btn-primary">
              Find a Support Worker
            </button>
          </div>
          <div class="col-md-6">
            <div class="row">
              <div class="col-md-10 offset-md-0">
                <div class="flat-counter">
                  <div class="icon-counter">
                    <i class="fa fa-search icon-sz" aria-hidden="true"></i>
                  </div>
                  <div class="content-counter">
                    <div class="content-title">Search</div>
                    <div class="name-count">Step one</div>
                    <p class="content-desc m-top0">
                      Join for free then simply search for independent care and
                      support in your local area.
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-md-10 offset-md-1">
                <div class="flat-counter">
                  <div class="icon-counter">
                    <i class="fa fa-link icon-sz" aria-hidden="true"></i>
                  </div>
                  <div class="content-counter">
                    <div class="content-title">Connect</div>
                    <div class="name-count">Step two</div>
                    <p class="content-desc m-top0">
                      Join for free then simply search for independent care and
                      support in your local area.
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-md-10 offset-md-2">
                <div class="flat-counter">
                  <div class="icon-counter">
                    <i class="fa fa-heart icon-sz" aria-hidden="true"></i>
                  </div>
                  <div class="content-counter">
                    <div class="content-title">Care</div>
                    <div class="name-count">Step three</div>
                    <p class="content-desc m-top0">
                      Join for free then simply search for independent care and
                      support in your local area.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- SECTION 3 -->
  <section class="section-3">
    <div class="banner-info">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="side-content">
              <h1>Government funded?</h1>
              <h5>We've got you covered.</h5>
              <p class="m-top1">
                Use mable to start building your support network, even if you
                are NDIS funded or have a Home Care Package.
              </p>
              <div class="m-top1 space-below">
                <button type="button" class="btn btn-primary btn-md btn-block">
                  Yes, i'm NDIS Funded
                </button>
                <button type="button" class="btn btn-primary btn-md btn-block">
                  Yes, I have a Home Care Package
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- SECTION 4 -->
  <section class="section-4 flat-row">
    <div class="container">
      <div class="title-4">
        <div class="f-s2 bg-text" data-text="care">
          Access a simple and <span>Safe Network</span> of care and support
          <div class="head-2"></div>
          <div class="dot-after brd-b"></div>
        </div>
        <div class="m-top1">
          <p style="width: 50%;">
            Enjoy greater peace of mind for you and your family, with Mable
            network of verified independent care and support workers
          </p>
        </div>
      </div>
      <div class="p-lft-rgt">
        <div class="banner4 m-top10">
          <div class="row">
            <div class="col-md-5 m-top20 m-lft-side">
              <div class="flat-divider d6px"></div>
              <div class="care-border">
                <div class="care-about">
                  <h3>Strict Approval Process</h3>
                  <p>
                    Designer have to make sure the prototype looks finished by
                    inserting text or photo. Designer have to make sure the
                    prototype looks finished by inserting text or photo.
                  </p>
                </div>
                <button class="btn btn-secondary pull-right">
                  Read More
                  <span class="m-rgt-pos"
                    ><i class="fa fa-long-arrow-right"></i
                  ></span>
                </button>
              </div>
            </div>
            <div class="col-md-7 m-top20 m-right-side">
              <div class="flat-divider d6px"></div>
              <div class="row">
                <div class="col-md-12">
                  <div class="choose-border">
                    <div class="care-choose">
                      <div class="choose-title">
                        <i class="fa fa-reorder"></i>CARE
                        <span class="f-s3"><b>U</b></span> CHOOSE<i
                          class="fa fa-plus"
                        ></i>
                      </div>
                      <div class="padding-40">
                        <div class="row">
                          <div class="col-md-12">
                            <div class="inner-bg">
                              <i class="fa fa-user-md"></i>HOME CARE
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-md-12">
                            <div class="row  m-center-side">
                              <div class="col-md-8">
                                <div class="inner-bg">
                                  <i class="fa fa-wheelchair"></i>DISABLED
                                </div>
                              </div>
                              <div class="col-md-4">
                                <div class="inner-bg both-side"></div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-md-12">
                            <div class="inner-bg">
                              <i class="fa fa-map-marker"></i>TRAVEL
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-12">
                          <button
                            type="button"
                            class="btn btn-outline-secondary btn-block"
                          >
                            Become a Support Worker
                          </button>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-12">
                          <button
                            type="button"
                            class="btn btn-outline-secondary btn-block m-top5"
                          >
                            Iam Looking For Support
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row m-top5 m-btm10">
            <div class="col-md-6">
              <div class="flat-text">
                <div class="icon-wrap">
                  <i class="fa fa-thumbs-up mbr-iconfont"></i>
                </div>
                <div class="aside-content vcenter">
                  <h3>High Safety Priority</h3>
                  <p>
                    Designer have to make sure the prototype looks to make sure
                    the prototype looks finished by inserting text or photo.
                  </p>
                </div>
              </div>
              <button class="btn btn-secondary pull-right">
                Read More
                <span class="m-rgt-pos"
                  ><i class="fa fa-long-arrow-right"></i
                ></span>
              </button>
            </div>
            <div class="col-md-6">
              <div class="flat-text m-lftpx">
                <div class="icon-wrap">
                  <i class="fa fa-thumbs-up mbr-iconfont"></i>
                </div>
                <div class="aside-content vcenter">
                  <h3>Insurance Coverage</h3>
                  <p>
                    Designer have to make sure the prototype looks to make sure
                    the prototype looks finished by inserting text or photo.
                  </p>
                </div>
              </div>
              <button class="btn btn-secondary pull-right m-lftpx">
                Read More
                <span class="m-rgt-pos"
                  ><i class="fa fa-long-arrow-right"></i
                ></span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- SECTION 5 -->
  <section class="section-5">
    <div class="set-padding">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="f-s2 main-work-title">
              A simple,<br />
              <span>Transparent system</span> that works for everyone
              <div class="works-head"></div>
              <div class="dot-after brd-w"></div>
              <button class="btn btn-primary pull-right">
                VIEW OUR PRICING
              </button>
            </div>
          </div>
        </div>
        <div class="row m-top5">
          <div class="col-md-4">
            <div class="work-section text-center">
              <h5>CHOOSE YOUR SUPPORT</h5>
              <div class="work-icon"><i class="fa fa-handshake-o"></i></div>
              <div class="work-content">
                <p>
                  Choose what services you want, from whom, when and at a price
                  you agree.
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="work-section text-center">
              <h5>LOW FEES, MORE TIME</h5>
              <div class="work-icon"><i class="fa fa-handshake-o"></i></div>
              <div class="work-content">
                <p>
                  Our low fees mean you receive more hours of support from the
                  workers you choose. We charge a low flat fee of 5% in addition
                  to your support worker's hourly rate.
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="work-section text-center">
              <h5>EASY PAYMENTS</h5>
              <div class="work-icon"><i class="fa fa-handshake-o"></i></div>
              <div class="work-content">
                <p>
                  Easily manage payments on your online dashboard. Pay privately
                  or use your NDIS or Home Care Package funding.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- SECTION 6 -->
  <section class="section-6">
    <div class="set-padding">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="f-s2 main-support-title m-btm-5">
              Design your support to suit you
              <div class="support-head"></div>
              <div class="dot-after brd-b"></div>
            </div>
            <p>
              Finding the right kind of care and support is easy with Mable.
            </p>
            <p>Search based on what matters most to you and your family.</p>
          </div>
        </div>
        <div class="row m-top5">
          <div class="col-md-3">
            <div class="support-section">
              <i class="fa fa-users f-s4"></i>
              <div class="social-support">Social Support</div>
              <p>
                Help you stay connected to and active in your community and
                life's passions.
              </p>
            </div>
          </div>
          <div class="col-md-3">
            <div class="support-section">
              <i class="fa fa-wheelchair f-s4"></i>
              <div class="social-support">Personal Care</div>
              <p>
                Help you stay connected to and active in your community and
                life's passions.
              </p>
            </div>
          </div>
          <div class="col-md-3">
            <div class="support-section">
              <i class="fa fa-user-md f-s4"></i>
              <div class="social-support">Nursing Service</div>
              <p>
                Help you stay connected to and active in your community and
                life's passions.
              </p>
            </div>
          </div>
          <div class="col-md-3">
            <div class="support-section">
              <i class="fa fa-book f-s4"></i>
              <div class="social-support">Work & Study</div>
              <p>
                Help you stay connected to and active in your community and
                life's passions.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- SECTION 7 -->
  <section class="section-7">
    <div class="set-padding">
      <div class="aside-content">
        <div class="row">
          <div class="col-md-12">
            <div class="row">
              <div class="col-md-6">
                <div class="padding-80">
                  <h1>
                    Refining support for disability and aged care in Australia.
                    One connection at a time
                  </h1>
                  <div class="care-head"></div>
                  <div class="dot-after brd-w"></div>
                  <p class="l-ht">
                    Mable is an easy and safe online platform. Connect with
                    people in your community and choose the support workers who
                    share your intrests and suits your need best.
                  </p>
                  <button class="btn btn-primary m-top10 btn-lg padding-lr">
                    More
                  </button>
                </div>
              </div>
              <div class="col-md-6">
                <img src="assets/care2.jpg" class="aside-img" width="100%" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- SECTION 8 -->
  <section class="section-8">
    <div class="logo-section">
      <div class="container">
        <div class="logo-title">
          <h1>As Featured In</h1>
          <div class="head-2"></div>
          <div class="dot-after brd-b"></div>
        </div>
        <div class="row m-top5">
          <div class="col-md-2 logo-box">
            <div class="logo-img-block"><img src="assets/daily.png" /></div>
          </div>
          <div class="col-md-2 logo-box">
            <div class="logo-img-block"><img src="assets/today.png" /></div>
          </div>
          <div class="col-md-2 logo-box">
            <div class="logo-img-block"><img src="assets/abc.png" /></div>
          </div>
          <div class="col-md-2 logo-box">
            <div class="logo-img-block"><img src="assets/brw.png" /></div>
          </div>
          <div class="col-md-2 logo-box">
            <div class="logo-img-block"><img src="assets/sky.png" /></div>
          </div>
          <div class="col-md-2 logo-box">
            <div class="logo-img-block"><img src="assets/financial.png" /></div>
          </div>
          <div class="col-md-2 logo-box">
            <div class="logo-img-block"><img src="assets/sydney.png" /></div>
          </div>
          <div class="col-md-2 logo-box">
            <div class="logo-img-block"><img src="assets/ten.png" /></div>
          </div>
          <div class="col-md-2 logo-box">
            <div class="logo-img-block"><img src="assets/courier-mail.png" /></div>
          </div>
          <div class="col-md-2 logo-box">
            <div class="logo-img-block"><img src="assets/today.png" /></div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- SECTION 9 -->
  <section class="section-9 paddingTop-80">
    <footer class="footer">
      <div class="container">
        <div class="set-padding">
          <div class="row">
            <div class="col-md-3">
              <h4 class="footer-title title-border">Care and Support</h4>
              <div class="foot-underline"></div>
              <div class="dot-after brd-w"></div>
              <ul class="list-menu">
                <li>Disability Support</li>
                <li>Aged Care</li>
                <li>Home Care Package</li>
                <li>Support Workers</li>
                <li>Coordinators</li>
                <li>Organisations</li>
              </ul>
            </div>
            <div class="col-md-3">
              <h4 class="footer-title title-border">About Mable</h4>
              <div class="foot-underline"></div>
              <div class="dot-after brd-w"></div>
              <ul class="list-menu">
                <li>About US</li>
                <li>Contact Us</li>
                <li>FAQs</li>
                <li>In The News</li>
                <li>Testimonials</li>
              </ul>
            </div>
            <div class="col-md-3">
              <h4 class="footer-title title-border">Resources</h4>
              <div class="foot-underline"></div>
              <div class="dot-after brd-w"></div>
              <ul class="list-menu">
                <li>Help Center</li>
                <li>Mable Blog</li>
              </ul>
            </div>
            <div class="col-md-3">
              <h4 class="footer-title title-border">Policies</h4>
              <div class="foot-underline"></div>
              <div class="dot-after brd-w"></div>
              <ul class="list-menu">
                <li>Privacy Policy</li>
                <li>Terms of Use</li>
                <li>Code of Conduct</li>
                <li>Police check policy</li>
                <li>Insurance</li>
              </ul>
            </div>
            <div class="col-md-12">
              <div class="top-border"></div>
              <h4 class="support-text">
                Find aged care or disability support worker by suburbs or
                postcode
              </h4>
              <div class="bottom-border"></div>
            </div>
          </div>
          <div class="row paddingTop-40">
            <div class="col-md-8">
              <div class="one">
                <h2>Join our family!!!</h2>
                <div class="row">
                  <div class="col-md-6 m-btm-5">
                    <button
                      type="button"
                      class="btn btn-primary btn-md btn-block"
                    >
                      Become a support worker <i class="fa fa-thumbs-up"></i>
                    </button>
                  </div>
                  <div class="col-md-6 m-btm-5">
                    <button
                      type="button"
                      class="btn btn-primary btn-md btn-block"
                    >
                      I am Looking for Support <i class="fa fa-heart"></i>
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="footer-social">
                <h4 class="footer-title">follow us</h4>
                <ul>
                  <li><i class="fa fa-youtube"></i></li>
                  <li><i class="fa fa-twitter-square"></i></li>
                  <li><i class="fa fa-linkedin-square"></i></li>
                  <li><i class="fa fa-facebook-square"></i></li>
                  <li><i class="fa fa-share-square"></i></li>
                  <li><i class="fa fa-google-plus-square"></i></li>
                </ul>
              </div>
              <div class="footer-store">
                <h4 class="footer-title">Google App on Smart phone</h4>
                <div class="row">
                  <div class="col-md-6"><img src="assets/appstore.png" /></div>
                  <div class="col-md-6"><img src="assets/playstore.png" /></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <hr />
      <div class="container">
        <div class="set-padding">
          <div class="row">
            <div class="col-md-12">
              <div class="footer-final">
                <h5>@2018 better caring ptd limited trading as mable</h5>
                <h5>All right reserved</h5>
                <p class="m-top1">
                  Important notes: While we verify certain key information
                  (police checks, key qualifications, references) during the
                  on-boarding of each care worker, they represent other
                  information about themselves to customers via their profiles
                  that we do not independently verify. In exercising your choice
                  of care worker and hiring them directly, we recommended that
                  you check their credentials and original documents when you
                  first meet them and provide ongoing supervision. we recommend
                  that care workers take a file of their key documents with them
                  to their first meeting.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>
  </section>
</div>
